@font-face {
  font-family: 'Gill Sans';
  src: url('./assets/GillSans-01.ttf');
}

@font-face {
  font-family: 'Gill Sans Semi';
  src: url('./assets/GillSans-SemiBold-05.ttf');
}

@font-face {
  font-family: 'Gill Sans Bold';
  src: url('./assets/GillSans-Bold-02.ttf');
}

* {
  font-family: 'Gill Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 964px;
  margin: auto;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
}

#account {
  width: auto;
  height: 32px;
  margin: 1rem;
  display: flex;
}

#logo {
  width: 112px;
  height: 32px;
  margin-right: 1rem;
}

#account-logo {
  width: 27px;
  height: 27px;
  margin-top: 3px;
  margin-bottom: 2px;
  margin-right: 0.5rem;
}

#account-name {
  font-family: 'Gill Sans Semi';
  line-height: 32px;
}

header {
  width: auto;
  margin: 1rem;
  padding: 10px;
  padding-left: 15px;
  text-align: left;
  background-color: #b80000;
  height: 60px;
}

h1 {
  color: white;
  font-family: 'Gill Sans Semi';
  line-height: 40px;
  font-size: 40px;
}

h2 {
  color: #545658;
  font-size: 20px;
  font-family: 'Gill Sans Semi';
  margin-bottom: 1rem;
}

h3 {
  font-weight: normal;
  color: black;
}

nav {
  width: auto;
  margin: 1rem;
}

.message {
  width: auto;
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

#topic-list {
  display: flex;
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.topic {
  border-right: 1px solid black;
  text-transform: capitalize;
  color: black;
  font-size: 18px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.topic:first-child {
  padding-left: 0;
}

.topic:last-child {
  border-right: 0;
}

#option-list {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
select {
  width: 100px;
}

#pagination {
  text-align: right;
}

.pagination-button {
  margin: 0 1rem 0 1rem;
  padding: 0 0.5rem 0 0.5rem;
}

.pagination-button-disabled {
  margin: 0 1rem 0 1rem;
  padding: 0 0.5rem 0 0.5rem;
  color: grey;
  pointer-events: none;
}

#article-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  justify-content: left;
}

.article-card {
  width: 300px;
  height: auto;
  list-style-type: none;
  display: inline-block;
}

.article-card-img {
  width: 300px;
  height: 200px;
  margin-bottom: 1rem;
  object-fit: fill;
}

.material-symbols-outlined {
  vertical-align: top;
  font-size: 14px;
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.article-info,
.comment-info {
  color: #b80000;
  font-size: 14px;
  margin-bottom: 1rem;
}

#article {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 3rem;
}

#article-img {
  width: 100%;
}

.comment-form {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

#comment-input {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: rgb(236, 236, 236);
  margin-left: 1rem;
  border: 1px solid black;
  border-radius: 2rem;
  flex: 1;
}

.comment-card {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}

.comment-author {
  font-weight: bold;
  line-height: 36px;
}

#username {
  font-weight: bold;
}

#comment-submit {
  margin-left: 1rem;
  width: 70px;
}

.emoji {
  border: 0;
  background-color: white;
  font-size: 20px;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 964px) {
  body {
    max-width: 648px;
  }
}

@media only screen and (max-width: 648px) {
  body {
    width: 332px;
  }
  #comment-submit {
    display: none;
  }
  #option-list {
    gap: 0.5rem;
    flex-direction: column;
  }
  #pagination {
    padding: 1rem 0 1rem 0;
  }
}
